<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- header-start -->
<div th:fragment="navbar">

    <nav class="navbar navbar-expand-md  navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse col-xl-9 col-lg-9" id="navbarMenu">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="btn-group">
                            <a aria-pressed="true" class="nav-link" href="/posts" role="button">Posts</a>
                            <button aria-expanded="false" aria-haspopup="true"
                                    class="btn nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" type="button">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/posts/generate">Create Post</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> Categories </a>
                        <ul class="dropdown-menu">
                            <li th:each="category: ${mainCategories}"><a class="dropdown-item dropdown-toggle" th:href="@{'/posts/' + ${category.getName()}}" th:text="${category.getName()}"> Dropdown item 2 </a>
                                <ul class="submenu dropdown-menu">
                                    <li th:if="${category.getSubCategories() != null}" th:each="subCategory : ${category.getSubCategories()}"><a class="dropdown-item dropdown-toggle"  th:href="@{'/posts/' + ${subCategory.getName()}}" th:text="${subCategory.getName()}">Submenu item 1</a>
                                        <ul class="submenu dropdown-menu">
                                            <li th:if="${subCategory.getSubCategories() != null}" th:each="subCategory2 : ${subCategory.getSubCategories()}"><a class="dropdown-item dropdown-toggle"  th:href="@{'/posts/' + ${subCategory2.getName()}}" th:text="${subCategory2.getName()}">Submenu item 2</a>
                                                <ul class="submenu dropdown-menu">
                                                    <li th:if="${subCategory2.getSubCategories() != null}" th:each="subCategory3 : ${subCategory2.getSubCategories()}"><a class="dropdown-item dropdown-toggle"  th:href="@{'/posts/' + ${subCategory3.getName()}}" th:text="${subCategory3.getName()}">Submenu item 3</a>
                                                        <ul class="submenu dropdown-menu">
                                                            <li th:if="${subCategory3.getSubCategories() != null}" th:each="subCategory4 : ${subCategory3.getSubCategories()}"><a class="dropdown-item dropdown-toggle"  th:href="@{'/posts/' + ${subCategory4.getName()}}" th:text="${subCategory4.getName()}">Submenu item 4</a>
                                                                <ul class="submenu dropdown-menu">
                                                                    <li th:if="${subCategory4.getSubCategories() != null}" th:each="subCategory5 : ${subCategory4.getSubCategories()}"><a class="dropdown-item dropdown-toggle"  th:href="@{'/posts/' + ${subCategory5.getName()}}" th:text="${subCategory5.getName()}">Submenu item 4</a>
                                                                        <ul class="submenu dropdown-menu">
                                                                            <li th:if="${subCategory5.getSubCategories() != null}" th:each="subCategory6 : ${subCategory5.getSubCategories()}"><a class="dropdown-item dropdown-toggle"  th:href="@{'/posts/' + ${subCategory6.getName()}}" th:text="${subCategory6.getName()}">Submenu item 5</a>
                                                                                <ul class="submenu dropdown-menu">
                                                                                    <li th:if="${subCategory6.getSubCategories() != null}" th:each="subCategory7 : ${subCategory6.getSubCategories()}"><a class="dropdown-item dropdown-toggle"  th:href="@{'/posts/' + ${subCategory7.getName()}}" th:text="${subCategory7.getName()}">Submenu item 5</a>
                                                                                    </li>
                                                                                    <li th:if="${subCategory6.getSubCategories() != null}"><a class="dropdown-item"  th:href="@{'/categories/generate?id=' + ${subCategory6.getId()}}" th:text="${'Add category...'}">Submenu item 6</a></li>
                                                                                </ul>
                                                                            </li>
                                                                            <li th:if="${subCategory5.getSubCategories() != null}"><a class="dropdown-item"  th:href="@{'/categories/generate?id=' + ${subCategory5.getId()}}" th:text="${'Add category...'}">Submenu item 5</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <li th:if="${subCategory4.getSubCategories() != null}"><a class="dropdown-item"  th:href="@{'/categories/generate?id=' + ${subCategory4.getId()}}" th:text="${'Add category...'}">Submenu item 4</a></li>
                                                                </ul>
                                                            </li>
                                                            <li th:if="${subCategory3.getSubCategories() != null}"><a class="dropdown-item"  th:href="@{'/categories/generate?id=' + ${subCategory3.getId()}}" th:text="${'Add category...'}">Submenu item 4</a></li>
                                                        </ul>
                                                    </li>
                                                    <li th:if="${subCategory2.getSubCategories() != null}"><a class="dropdown-item"  th:href="@{'/categories/generate?id=' + ${subCategory2.getId()}}" th:text="${'Add category...'}">Submenu item 3</a></li>
                                                </ul>
                                            </li>
                                            <li th:if="${subCategory.getSubCategories() != null}"><a class="dropdown-item"  th:href="@{'/categories/generate?id=' + ${subCategory.getId()}}" th:text="${'Add category...'}">Submenu item 2</a></li>
                                        </ul>
                                    </li>
                                    <li th:if="${category.getSubCategories() != null}"><a class="dropdown-item"  th:href="@{'/categories/generate?id=' + ${category.getId()}}" th:text="${'Add category...'}">Submenu item 1</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item"  href="/categories/generate?id=0">Add category...</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
            <!-- Topbar Navbar -->
            <a class="navbar-brand" href="/login" sec:authorize="!isAuthenticated()">Login</a>
            <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">

                <!-- Nav Item - User Information -->
                <li class="nav-custom">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                       href="#" id="userDropdown" role="button">
                                        <span class="pl-5 d-none d-lg-inline font-weight-bolder gj-font-size-16 "
                                              th:text="${#authentication.getName()}"></span>
                        <!--<img class="img-profile rounded-circle"
                             style=" max-width: 50px; max-height: 50px;"
                             th:src="${principal?}">-->
                    </a>
                    <!-- Dropdown - User Information -->
                    <div aria-labelledby="userDropdown"
                         class="dropdown-menu dropdown-menu-xl shadow">
                        <a class="dropdown-item" href="/profile">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal"
                           href="#">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="color: #2f3037">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- END header -->
<!-- header-end -->
</body>
</html>