<!doctype html>
<html class="no-js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Hogwarts</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300, 400,700|Inconsolata:400,700" rel="stylesheet">

    <link href="/blogpost/css/bootstrap.css" rel="stylesheet">
    <link href="/blogpost/css/animate.css" rel="stylesheet">
    <link href="/blogpost/css/owl.carousel.min.css" rel="stylesheet">

    <link href="/blogpost/fonts/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/blogpost/fonts/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/blogpost/fonts/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Theme Style -->
    <link href="/blogpost/css/style.css" rel="stylesheet">

    <style type="text/css">
        @media (min-width: 992px) {
            .dropdown-menu .dropdown-toggle:after {
                border-top: .3em solid transparent;
                border-right: 0;
                border-bottom: .3em solid transparent;
                border-left: .3em solid;
            }

            .dropdown-menu .dropdown-menu {
                margin-left: 0;
                margin-right: 0;
            }

            .dropdown-menu li {
                position: relative;
            }

            .nav-item .submenu {
                display: none;
                position: absolute;
                left: 100%;
                top: -7px;
            }

            .nav-item .submenu-left {
                right: 100%;
                left: auto;
            }

            .dropdown-menu > li:hover {
                background-color: #f1f1f1
            }

            .dropdown-menu > li:hover > .submenu {
                display: block;
            }
        }
    </style>
</head>
<body>


<div class="wrap">

    <!-- header-start -->
    <th:block th:insert="~{fragments/navbar :: navbar}"></th:block>
    <!-- header-end -->


    <section class="site-section py-lg">
        <div class="container">

            <div class="row blog-entries element-animate">

                <div class=" main-content">
                    <h1 class="mb-4" th:text="${post.getTitle()}"></h1>
                    <h5><a class="mb-5" th:href="@{'/posts/' + ${post.getCategory().getName()}}"
                           th:text="${'Category : ' + post.getCategory().getName()}"></a></h5>
                    <h5 class="mb-5" th:text="${'Posted by ' + post.getAuthor().getUsername() + '.'}"><a class="mb-5"
                                                                                                         th:href="@{'/posts/' + ${post.getCategory().getName()}}"
                                                                                                         th:text="${'Category : ' + post.getCategory().getName()}"></a>
                    </h5>


                    <a class=""></a>

                    <div class="post-content-body">
                        <p th:text="${post.getPostContent()}"></p>

                    </div>


                    <div class="pt-5">

                        <h3 class="mb-5"
                            th:text="${post.getComments().size()} + ${post.getComments().size() == 1 ? ' Comment' : ' Comments'}"></h3>
                        <ul class="comment-list">


                            <li class="comment" th:each="comment :  ${post.getComments()}">
                                <div class="vcard">
                                    <img alt="Image placeholder"
                                         th:src="${comment.getAuthor().getUserDetails().getPictureURL()}">
                                </div>
                                <div class="comment-body">
                                    <h3 th:text="${comment.getAuthor().getUsername()}"></h3>
                                    <div class="meta"
                                         th:text="${comment.getDate().toString().substring(0, comment.getDate().toString().indexOf('.'))}"></div>
                                    <p th:text="${comment.getComment()}"></p>
                                </div>
                            </li>


                            <!-- END comment-list -->

                            <div class="comment-form-wrap pt-5">
                                <h3 class="mb-5">Leave a comment</h3>
                                <form class="p-5 bg-light" enctype="multipart/form-data"
                                      method="post"
                                      th:action="@{/post/{id}/comment(id=${post.getId()})}" th:object="${comment}">

                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea class="form-control" cols="30" id="message"
                                                  name="" rows="10"
                                                  th:field="*{commentContent}"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input class="btn btn-primary" type="submit" value="Post Comment">
                                    </div>

                                </form>
                            </div>
                    </div>

                </div>

                <!-- END main-content -->


            </div>
        </div>
    </section>


</div>

<!-- loader -->
<div class="show fullscreen" id="loader">
    <svg class="circular" height="48px" width="48px">
        <circle class="path-bg" cx="24" cy="24" fill="none" r="22" stroke="#eeeeee" stroke-width="4"/>
        <circle class="path" cx="24" cy="24" fill="none" r="22" stroke="#f4b214" stroke-miterlimit="10"
                stroke-width="4"/>
    </svg>
</div>


<script src="/blogpost/js/jquery-3.2.1.min.js"></script>
<script src="/blogpost/js/jquery-migrate-3.0.0.js"></script>
<script src="/blogpost/js/popper.min.js"></script>
<script src="/blogpost/js/bootstrap.min.js"></script>
<script src="/blogpost/js/owl.carousel.min.js"></script>
<script src="/blogpost/js/jquery.waypoints.min.js"></script>
<script src="/blogpost/js/jquery.stellar.min.js"></script>


<script src="/blogpost/js/main.js"></script>

<script type="text/javascript">
    /// some script

    // jquery ready start
    $(document).ready(function () {
        // jQuery code

        //////////////////////// Prevent closing from click inside dropdown
        $(document).on('click', '.dropdown-menu', function (e) {
            e.stopPropagation();
        });

        // make it as accordion for smaller screens
        if ($(window).width() < 992) {
            $('.dropdown-menu a').click(function (e) {
                e.preventDefault();
                if ($(this).next('.submenu').length) {
                    $(this).next('.submenu').toggle();
                }
                $('.dropdown').on('hide.bs.dropdown', function () {
                    $(this).find('.submenu').hide();
                })
            });
        }

    }); // jquery end
</script>
</body>
</html>