<!doctype html>
<html  class="no-js" lang="en"
       xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Hogwarts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300, 400,700|Inconsolata:400,700" rel="stylesheet">

    <link rel="stylesheet" href="/blogpost/css/bootstrap.css">
    <link rel="stylesheet" href="/blogpost/css/animate.css">
    <link rel="stylesheet" href="/blogpost/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="/blogpost/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/blogpost/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/blogpost/fonts/flaticon/font/flaticon.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="/blogpost/css/style.css">

    <style type="text/css">
        @media (min-width: 992px){
            .dropdown-menu .dropdown-toggle:after{
                border-top: .3em solid transparent;
                border-right: 0;
                border-bottom: .3em solid transparent;
                border-left: .3em solid;
            }

            .dropdown-menu .dropdown-menu{
                margin-left:0; margin-right: 0;
            }

            .dropdown-menu li{
                position: relative;
            }
            .nav-item .submenu{
                display: none;
                position: absolute;
                left:100%; top:-7px;
            }
            .nav-item .submenu-left{
                right:100%; left:auto;
            }

            .dropdown-menu > li:hover{ background-color: #f1f1f1 }
            .dropdown-menu > li:hover > .submenu{
                display: block;
            }
        }
    </style>
</head>
<body>


<div class="wrap">

    <!-- header-start -->
    <th:block th:insert="~{fragments/navbar :: navbar}"></th:block>
    <!-- header-end -->
    <!-- END header -->


    <section class="site-section pt-5">
        <div class="container">
            <div class="content">
                <form class="form-style" th:action="@{/posts/generate}" th:object="${post}" method="post"
                      enctype="multipart/form-data">

                    <div class="input-group mb-3">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="title">Name</span>
                            </div>
                            <input th:field="*{title}" type="text" class="form-control input-lg" placeholder="Enter post name"
                                   aria-label="name"
                                   required="true" autofocus="true">
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="Tag">Tag</span>
                            </div>
                            <select th:field="*{category}" data-style="bg-white rounded-pill px-4 py-3 shadow-sm " class="selectpicker w-100">
                                <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getName()}"></option>
                            </select><!-- End -->
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="postContent">Content</span>
                            </div>
                            <textarea th:field="*{postContent}" type="text" class="form-control input-lg" placeholder="Please specify..."
                                      aria-label="description"
                                      required="true" autofocus="true">
                     </textarea>
                        </div>
                    </div>


                    <div class="form-group ">
                        <button type="submit" id="button" class="btn btn-secondary">Create</button>
                    </div>

                </form>

            </div>
        </div>
    </section>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="small">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy; <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All Rights Reserved | This template is made with <i class="fa fa-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- END footer -->

</div>

<!-- loader -->
<div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

<script src="/blogpost/js/jquery-3.2.1.min.js"></script>
<script src="/blogpost/js/jquery-migrate-3.0.0.js"></script>
<script src="/blogpost/js/popper.min.js"></script>
<script src="/blogpost/js/bootstrap.min.js"></script>
<script src="/blogpost/js/owl.carousel.min.js"></script>
<script src="/blogpost/js/jquery.waypoints.min.js"></script>
<script src="/blogpost/js/jquery.stellar.min.js"></script>


<script src="/blogpost/js/main.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
    /// some script

    // jquery ready start
    $(document).ready(function() {
        // jQuery code

        //////////////////////// Prevent closing from click inside dropdown
        $(document).on('click', '.dropdown-menu', function (e) {
            e.stopPropagation();
        });

        // make it as accordion for smaller screens
        if ($(window).width() < 992) {
            $('.dropdown-menu a').click(function(e){
                e.preventDefault();
                if($(this).next('.submenu').length){
                    $(this).next('.submenu').toggle();
                }
                $('.dropdown').on('hide.bs.dropdown', function () {
                    $(this).find('.submenu').hide();
                })
            });
        }

    }); // jquery end
</script>
</body>
</html>