<!doctype html>
<html class="no-js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Hogwarts</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300, 400,700|Inconsolata:400,700" rel="stylesheet">

    <link href="/blogpost/css/bootstrap.css" rel="stylesheet">
    <link href="/blogpost/css/animate.css" rel="stylesheet">
    <link href="/blogpost/css/owl.carousel.min.css" rel="stylesheet">

    <link href="/blogpost/fonts/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/blogpost/fonts/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/blogpost/fonts/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Theme Style -->
    <link href="/blogpost/css/style.css" rel="stylesheet">

    <style type="text/css">
        @media (min-width: 992px){
            .dropdown-menu .dropdown-toggle:after{
                border-top: .3em solid transparent;
                border-right: 0;
                border-bottom: .3em solid transparent;
                border-left: .3em solid;
            }

            .dropdown-menu .dropdown-menu{
                margin-left:0; margin-right: 0;
            }

            .dropdown-menu li{
                position: relative;
            }
            .nav-item .submenu{
                display: none;
                position: absolute;
                left:100%; top:-7px;
            }
            .nav-item .submenu-left{
                right:100%; left:auto;
            }

            .dropdown-menu > li:hover{ background-color: #f1f1f1 }
            .dropdown-menu > li:hover > .submenu{
                display: block;
            }
        }
    </style>
</head>
<body>


<div class="wrap">

    <!-- header-start -->
    <th:block th:insert="~{fragments/navbar :: navbar}"></th:block>
    <!-- header-end -->


    <section class="site-section pt-5">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-6">
                    <h2 class="mb-4">TBD TAGS</h2>
                </div>
            </div>
            <div class="row blog-entries">
                <div class="col-md-12 col-lg-8 main-content">
                    <div class="row mb-5 mt-5">

                        <div class="col-md-12">

                            <div class="post-entry-horzontal" th:each="post :  ${posts}">
                                <a th:href="${'/posts?id=' + post.getId()}">
                                    <div class="image element-animate" data-animate-effect="fadeIn"
                                         style="background-image: url(img/hogwards.jpg);"></div>
                                    <span class="text">
                      <div class="post-meta">
                        <span class="author mr-2"><img
                                th:src="${post.getAuthor().getUserDetails().getPictureURL()}"> </span>&bullet;
                        <span class="mr-2" th:text="${post.getDate().toString().substring(0, post.getDate().toString().indexOf(' '))}"> </span> &bullet;
                        <span class="mr-2" th:text="${post.getCategory().getName()}"> </span> &bullet;
                        <span class="ml-2"><span class="fa fa-comments" th:text="${post.getComments().size()}"></span> </span>
                      </div>
                      <h2 th:text="${post.getTitle()}"> </h2>
                    </span>
                                </a>
                            </div>
                            <!-- END post -->


                        </div>
                    </div>
                </div>

                <!-- END main-content -->


            </div>
        </div>
    </section>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="small">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script data-cfasync="false"
                                src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                        <script>document.write(new Date().getFullYear());</script>
                        All Rights Reserved | This template is made with <i aria-hidden="true"
                                                                            class="fa fa-heart text-danger"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- END footer -->

</div>

<!-- loader -->
<div class="show fullscreen" id="loader">
    <svg class="circular" height="48px" width="48px">
        <circle class="path-bg" cx="24" cy="24" fill="none" r="22" stroke="#eeeeee" stroke-width="4"/>
        <circle class="path" cx="24" cy="24" fill="none" r="22" stroke="#f4b214" stroke-miterlimit="10"
                stroke-width="4"/>
    </svg>
</div>

<script src="/blogpost/js/jquery-3.2.1.min.js"></script>
<script src="/blogpost/js/jquery-migrate-3.0.0.js"></script>
<script src="/blogpost/js/popper.min.js"></script>
<script src="/blogpost/js/bootstrap.min.js"></script>
<script src="/blogpost/js/owl.carousel.min.js"></script>
<script src="/blogpost/js/jquery.waypoints.min.js"></script>
<script src="/blogpost/js/jquery.stellar.min.js"></script>


<script src="/blogpost/js/main.js"></script>

<script type="text/javascript">
    /// some script

    // jquery ready start
    $(document).ready(function() {
        // jQuery code

        //////////////////////// Prevent closing from click inside dropdown
        $(document).on('click', '.dropdown-menu', function (e) {
            e.stopPropagation();
        });

        // make it as accordion for smaller screens
        if ($(window).width() < 992) {
            $('.dropdown-menu a').click(function(e){
                e.preventDefault();
                if($(this).next('.submenu').length){
                    $(this).next('.submenu').toggle();
                }
                $('.dropdown').on('hide.bs.dropdown', function () {
                    $(this).find('.submenu').hide();
                })
            });
        }

    }); // jquery end
</script>
</body>
</html>