<!doctype html>
<html class="no-js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hogwarts</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/css/profile/profile.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.jpg">

    <style>
        .input-group-text {
            width: 122px;
        }
    </style>

    <style type="text/css">
        @media (min-width: 992px){
            .dropdown-menu .dropdown-toggle:after{
                border-top: .3em solid transparent;
                border-right: 0;
                border-bottom: .3em solid transparent;
                border-left: .3em solid;
            }

            .dropdown-menu .dropdown-menu{
                margin-left:0; margin-right: 0;
            }

            .dropdown-menu li{
                position: relative;
            }
            .nav-item .submenu{
                display: none;
                position: absolute;
                left:100%; top:-7px;
            }
            .nav-item .submenu-left{
                right:100%; left:auto;
            }

            .dropdown-menu > li:hover{ background-color: #f1f1f1 }
            .dropdown-menu > li:hover > .submenu{
                display: block;
            }
        }
    </style>
</head>
<body>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img style="min-width: 220px; min-height: 220px;" th:src="${user.userDetails.pictureURL}" alt=""/>
                <!--<div class="file btn btn-lg btn-primary">
                    Change Photo
                    <input type="file" name="file"/>
                </div>-->
            </div>
        </div>
        <div class="col">
            <div class="profile-head">
                <h5 th:text="${user.username}">
                </h5>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#" role="tab" aria-controls="profile" aria-selected="false">Playlists</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <a class="btn btn-info" href="/" role="button">Go to Homepage</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="margin-top :20px;">
            <div class="profile-work">
                <button class="btn" type="button" data-toggle="modal"
                        data-target="#modalEdit">Edit Profile</button>

            </div>
        </div>
        <div class="col-md-8" style="margin-top: -100px">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                        </div>
                        <div class="col-md-6">
                            <span  th:text="${user.userDetails.fullName}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <span th:text="${user.userDetails.email}"></span>
                        </div>
                    </div>
                  <!--  <div class="row">
                        <div class="col-md-6">
                            <label>Gender</label>
                        </div>
                        <div class="col-md-6">
                            <span th:text="${user.userDetails.gender}" id="genderSpan"></span>
                        </div>
                    </div>-->
                </div>


              <!--  TODO POSTS
                <div class="tab-pane fade" id="playlists" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row" th:each="playlist : ${playlists}">
                        <div class="col-md-2">
                            <label th:text="${playlist.title}"></label>
                        </div>
                        <div class="col-mb-6">
                            <div class="input-group flex-nowrap">
                                <select  class="selectpicker" data-size="10" data-style="btn-light" style="height: 40px; width: 200px;">
                                    <option selected>View Tracks</option>
                                    <option disabled
                                            th:each="track : ${playlist.tracklist}"
                                            th:value="${track.title}"
                                            th:text="${track.title}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label  th:text="${'Duration: ' + #numbers.formatInteger(playlist.duration/3600,2) + ':' +
                                 #numbers.formatInteger((playlist.duration%3600)/60,2) + ':' + #numbers.formatInteger(playlist.duration%60,2)}"></label>
                        </div>
                        <div class="col-md-2">
                            <form method="get" th:id="'playForm' + ${playlist.id}"  class="d-inline-block" th:action="@{/playlist/{id}(id = ${playlist.id})}">
                                <button role="button" th:form="'playForm' + ${playlist.id}" style="margin: 3px;"  class="btn btn-success">Play</button>
                            </form>

                            <form method="post" th:id="'deleteForm' + ${playlist.id}" class="d-inline-block" th:action="@{/profile/playlist/{id}(id = ${playlist.id})}">
                            </form>
                            <button role="button" th:form="'deleteForm' + ${playlist.id}" style="margin: 3px;"  class="btn btn-danger btn-circle">Delete</button>
                        </div>
                    </div>
                </div>-->

            </div>
        </div>
    </div>
</div>


<!-- Modal
<div class="modal fade" id="modalEdit"  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-style" tabindex="-1" enctype="multipart/form-data" id="submitForm" method="post"
                      role="form" th:action="@{/profile/edit}"
                      th:object="${updateUser}">
                    <div class="input-group mb-3">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="firstName">First name</span>
                            </div>
                            <input th:value="${updateUser.firstName}" pattern=".*[^ ].*" th:field="*{firstName}" type="text" class="form-control input-lg validate-input"
                                   placeholder="Enter first name..."
                                   autofocus="true">
                        </div>
                    </div>


                    <div class="input-group mb-3">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="lastName">Last name</span>
                            </div>
                            <input th:value="${updateUser.lastName}" pattern=".*[^ ].*" th:field="*{lastName}"  type="text" class="form-control input-lg validate-input"
                                   placeholder="Enter last name..."
                                   autofocus="true">
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="email">Email</span>
                            </div>
                            <input th:value="${updateUser.email}" required data-validate = "Please enter email!" th:field="*{email}" type="email" class="form-control input-lg validate-input"
                                   placeholder="Enter email..."
                                   autofocus="true">
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="gender">Gender</span>
                            </div>
                            <select  th:field="*{gender}">
                                <option  th:value="'Male'">Male</option>
                                <option  th:value="'Female'">Female</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="image">Upload Image</span>
                            </div>
                            <input type="file" accept="image/*" name="file"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="submitForm" role="button">Save changes</button>
            </div>
        </div>
    </div>
</div>-->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>


<script>
    $( document ).ready(function() {
        var gender = $('#genderSpan').text();
        console.log(gender);
        $("select option[value='" + gender + "']").attr("selected","selected");
    });
</script>

<script type="text/javascript">
    /// some script

    // jquery ready start
    $(document).ready(function() {
        // jQuery code

        //////////////////////// Prevent closing from click inside dropdown
        $(document).on('click', '.dropdown-menu', function (e) {
            e.stopPropagation();
        });

        // make it as accordion for smaller screens
        if ($(window).width() < 992) {
            $('.dropdown-menu a').click(function(e){
                e.preventDefault();
                if($(this).next('.submenu').length){
                    $(this).next('.submenu').toggle();
                }
                $('.dropdown').on('hide.bs.dropdown', function () {
                    $(this).find('.submenu').hide();
                })
            });
        }

    }); // jquery end
</script>

</body>
</html>