html, body {
    height: 100%;
}
body {
    padding-top: 112px;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top:auto;
    height: 8%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-style {
    margin: 0 auto;
    max-width: 300px;
}

#button {
    margin: 0 auto;
    display: block;
}

.input-group-text {
    min-width: 88px;
}

#postContent{
    min-height: 200px;
}